main {
    width: calc(76.2vw + 20px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10%;

    &::after {
        content: "";
        flex: auto;
    } 
}
#section01 {
    position: relative;
    height: 70%;
    background-size: cover;
}
.search-bar {
    display: flex;
    justify-content: center;
    width: 70vw;
    min-width: 550px;
    height: 4.5vh;
    font-family: inherit;
    position: absolute;
    left: 15%;

    .search {
        width: 95%;
        height: auto;
        margin: 0 auto;
        position: relative;

        & input {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            box-sizing: border-box;
            border: 1px solid $col-green-1;
            width: 100%;
            height: 40px;
            border-top-right-radius: .2em;
            border-bottom-right-radius: .2em;
            line-height: 1.3;
            margin: 0;
            font-size: 16px;
            font-family: inherit;
            background-color: $col-green-2;
            background-image: url('../images/icons/search.svg');
            background-repeat: no-repeat;
            background-position: right 1em top 50%;
            background-size: 1em auto;
            padding-left: 1em;
        }
    }
    .select{
        width: calc(65% - 2px); // account for the margin on the input

        & select {
            cursor: pointer;
            font-size: 16px; // iOS Safari zooms in if less than 16px causing weird issues
            font-family: inherit;
            color: $col-white;
            padding: .2em 1em; // fix for category text being cut halfway
            line-height: 1.3;
            height: 40px;
            width: 100%;
            box-sizing: border-box;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0;
            border-color: $col-green-1;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: $col-green-1;
            background-image: url('../images/icons/dropdown_button.svg'), linear-gradient($col-green-1, $col-green-1);
            background-repeat: no-repeat;
            background-position: right .7em top 50%;
            background-size: .65em auto;

            &::-ms-expand {
                display: none;
            }
            &:focus,
            &:active {
                outline: $col-green-2;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .search-bar {
        width: 86vw;
        min-width: 150px;
        left: 2%;
    
        .search {
    
            & input {
                font-size: 16px !important;
                background-position: right 0.2em top 50%;
            }
        }
        .select{
            & select {
                font-size: 16px !important; 
                padding: .2em .2em .2em 1em; 
                background-position: right .2em top 50%;
            }
        }
    }
    }
    @media screen and (max-width: 414px){
        .search-bar {
            width: 89vw;
            min-width: 150px;
            left: 2%;
        
            .search {
        
                & input {
                    font-size: 14px;
                    background-position: right 0.2em top 50%;
                }
            }
            .select{
                & select {
                    font-size: 14px; 
                    padding: .2em .2em .2em 1em; 
                    background-position: right .2em top 50%;
                }
            }
        }
        }
@media screen and (max-width: 360px){
    .search-bar {
        width: 87vw;
        min-width: 150px;
        left: 2%;
    
        .search {
    
            & input {
                font-size: 11px !important;
                background-position: right 0.2em top 50%;
            }
        }
        .select{
            & select {
                font-size: 11px !important; 
                padding: .2em .2em .2em 1em; 
                background-position: right .2em top 50%;
            }
        }
    }
    }

  
 
        @media screen and (max-width: 320px){
            .search-bar {
                .search {
            
                    & input {
                        font-size: 12px;
                    }
                }
                .select{
                    & select {
                        font-size: 12px; 
                    }
                }
            }
            }

@media screen and (max-width: 280px){
.search-bar {
    width: 90vw;
    min-width: 150px;
    left: 2%;

    .search {

        & input {
            font-size: 11px;
            background-position: right 0.2em top 50%;
        }
    }
    .select{
        & select {
            font-size: 11px; 
            padding: .2em .2em .2em 1em; 
            background-position: right .2em top 50%;
        }
    }
}
}

.visuallyhidden{
    position: absolute;
    top: 5%;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.logo-section{
    position: relative;
    top: 20%;
}
.search-section{
    position: relative;
    top: 4%;
    margin: 0 auto;
    justify-content: center;
}
.logo {
    box-sizing: border-box;
    width: 25%;
    border: 20px solid transparent;
    margin-bottom: 8%;

    &__holder {
        border-radius: 4px;
        width: 100%;
        background-color: $col-grey-4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%; 	
        }

        &:hover > .logo__download {
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
    }
    
    &__image img {
        width: 70%;
    }

    &__text {
        width: 100%;

        &--primary { 
            font-weight: $fw-medium;
            font-size: 115%;
            margin-top: 5%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;

            &:hover {
                overflow-x: auto;
                text-overflow: initial;
            }
        }
        &--secondary {
            font-size: 80%;
            margin-top: 2%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;

            &:hover {
                overflow-x: auto;
                text-overflow: initial;
            }
        }
        &--link {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;;
            }
        }
    }

    &__download {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all .2s ease-in-out;

        &__overlay {
            width: 100%;
            height: 100%;
            background-color: $col-green-2;
            border: 1px solid $col-green-1;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > * + * {
                margin-top: .5rem;
            }

            a{
                color: inherit;
                transition: all .5s ease-in-out;
                font-size: 100%;
                text-decoration: none;
                white-space: nowrap;
            }

            &--svg, &--png {
                padding: .5rem 1rem;
                display: flex;
                background-color: transparent;
                border-radius: .25rem;
                justify-content: center;
                align-items: center;
                transition: all .2s ease-in;

                &:hover {
                    color: $col-white;
                    background-color: $col-green-1;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.totopbutton {
    opacity: 0.8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color:$col-white;
    background-color: $col-green-1;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1rem;
}

.companies-alphabet-title {
    width: 75vw;
    margin: .5% auto;
}

.companies-alphabet {
    border-bottom: .5px solid $col-grey-3;
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 2%;
    padding-bottom: 4px;
    font-size: 90%;
}

.companies-alphabet-anchor {
    width: 0%;
    display: inline-block;
    opacity: 0;
}

.companies-alphabet-link {
    display: flex;
    text-decoration: none;
}

a.companies-alphabet-link{
    color:$col-grey-1;
    font-weight: $fw-normal;
    opacity: .7;
}

.result {
    width: 75vw;
    font-size: 150%;
    color: $col-grey-2;
    left: 12.5vw;
    position: absolute;
    opacity: 0;
    transform: translateY(10px);
    transition: .3s all ease-in-out;
}
.typed {
    color: $col-grey-1; 
    font-weight: $fw-medium;
}